.aside {
  background-color: rgb(255, 255, 255);
  grid-column: 1/2;
  grid-row: 2/-1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  a {
    display: flex;
    align-items: center !important;
    transition: all 0.5s;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    height: 50px;
    color: #333;
    & > .icon {
      width: 25px;
      margin-left: 30px;
    }

    & > span {
      margin-left: 20px;
    }
    &:hover {
      background: rgba(211, 211, 211, 0.5);
      cursor: pointer;
    }
  }

  &__subscriptionChannal {
    display: flex;
    flex-direction: column;
    & > h2 {
      padding: 10px 20px;
      font-size: 20px;
      text-transform: uppercase;
    }
    a > img {
      width: 25px;
      margin-left: 30px;
    }

    .sub_icon {
      padding: 0 !important;
      font-size: 25px !important;
      margin-left: 30px;
    }
    @media screen and(max-width:992px) {
      display: none;
    }
  }

  &__copyright {
    padding-bottom: 30px;
    & > p {
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding: 10px 20px;
    }
    & > span {
      padding: 10px 20px;
      color: rgb(141, 133, 133);
      font-size: 14px;
    }
    @media screen and(max-width:992px) {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .aside {
    &__aditionalLibrary {
      display: none;
    }
  }
  hr {
    display: none !important;
  }
}
.asideHide {
  display: none;
}
