.comments {
  display: flex;
  padding: 0;
  align-items: flex-start;
  margin-top: 10px;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: flex-start;
    span {
      margin: 0;
    }
    span:not(:first-child) {
      margin-top: 8px;
    }
  }
  .like__dislike {
    display: flex;
    margin: 0;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    img {
      width: 20px;
      margin: 0;
    }
    img:not(:first-child) {
      margin-left: 10px;
    }
    span {
      margin-left: 10px;
    }
  }
}
