.container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 60px auto;
  height: 100vh !important;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: minmax(70px, 8%) 92%;
    grid-template-rows: 60px auto;
  }
}
.containerAside {
  display: grid;
  grid-template-columns: 0px 100%;
  grid-template-rows: 60px auto;
  overflow: hidden;
  height: 100vh !important;
}
