.relatedVideos {
  flex: 0 0 35%;
  padding: 0;
  height: 100vh;
  :hover {
    cursor: pointer;
  }

  .relatedVideo {
    display: flex;
    padding: 0;
    & > img {
      width: 200px;
      height: 100px;
    }
  }
  .relatedVideo:not(:first-child) {
    margin-top: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    & > h3 {
      font-size: 15px;
      font-weight: 300;
    }
    & > h4 {
      font-size: 12px;
      padding: 10px 0px;
      font-weight: 600;
    }
    & .statistics {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      & > span {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}
